<!-- inner page banner -->
<div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url(assets/images/banner/{{data.bg_image}}); background-position:center;">
	<div class="container">
		<div class="dlab-bnr-inr-entry">
			<h1 class="text-white"> {{data.pagetitle}}</h1>
			<!-- Breadcrumb row -->
			<div class="breadcrumb-row">
				<ul class="list-inline">
					<li><a routerLink="/">Home</a></li>
					<li>{{data.title}}</li>
				</ul>
			</div>
			<!-- Breadcrumb row END -->
		</div>
	</div>
</div>
<!-- inner page banner END -->
