<div class="section-full bg-gray content-inner" id="team" style="background-image:url(assets/images/pattern/pt7.png);">
	<div class="container">
		<div class="section-head text-center">
			<h5 class="title-small">OUR EXPERTS</h5>
			<div class="dlab-separator-outer">
				<div class="dlab-separator bg-primary style-skew"></div>
			</div>
			<h2 class="title">Meet The Team</h2>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
				<div class="dlab-box m-b30 dlab-team5">
					<div class="dlab-border-left"></div>
					<div class="dlab-border-right"></div>
					<div class="dlab-media">
						<a href="javascript:;">
							<img width="358" height="460" alt="" src="assets/images/our-team/pic1.jpg">
						</a>
					</div>
					<div class="dlab-info">
						<h4 class="dlab-title"><a href="javascript:void(0);">Nashid Martines</a></h4>
						<span class="dlab-position">Director</span>
						<ul class="dlab-social-icon">
							<li><a class="site-button circle-sm white fa fa-facebook" href="javascript:void(0);"></a></li>
							<li><a class="site-button circle-sm white fa fa-twitter" href="javascript:void(0);"></a></li>
							<li><a class="site-button circle-sm white fa fa-linkedin" href="javascript:void(0);"></a></li>
							<li><a class="site-button circle-sm white fa fa-pinterest" href="javascript:void(0);"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
				<div class="dlab-box m-b30 dlab-team5">
					<div class="dlab-border-left"></div>
					<div class="dlab-border-right"></div>
					<div class="dlab-media">
						<a href="javascript:;">
							<img alt="" src="assets/images/our-team/pic2.jpg">
						</a>
					</div>
					<div class="dlab-info">
						<h4 class="dlab-title"><a href="javascript:void(0);">Konne Backfield</a></h4>
						<span class="dlab-position">Designer</span>
						<ul class="dlab-social-icon">
							<li><a class="site-button circle-sm white fa fa-facebook" href="javascript:void(0);"></a></li>
							<li><a class="site-button circle-sm white fa fa-twitter" href="javascript:void(0);"></a></li>
							<li><a class="site-button circle-sm white fa fa-linkedin" href="javascript:void(0);"></a></li>
							<li><a class="site-button circle-sm white fa fa-pinterest" href="javascript:void(0);"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
				<div class="dlab-box m-b30 dlab-team5">
					<div class="dlab-border-left"></div>
					<div class="dlab-border-right"></div>
					<div class="dlab-media">
						<a href="javascript:;">
							<img alt="" src="assets/images/our-team/pic3.jpg">
						</a>
					</div>
					<div class="dlab-info">
						<h4 class="dlab-title"><a href="javascript:void(0);">Hackson Willingham</a></h4>
						<span class="dlab-position">Developer</span>
						<ul class="dlab-social-icon">
							<li><a class="site-button circle-sm white fa fa-facebook" href="javascript:void(0);"></a></li>
							<li><a class="site-button circle-sm white fa fa-twitter" href="javascript:void(0);"></a></li>
							<li><a class="site-button circle-sm white fa fa-linkedin" href="javascript:void(0);"></a></li>
							<li><a class="site-button circle-sm white fa fa-pinterest" href="javascript:void(0);"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
				<div class="dlab-box m-b30 dlab-team5">
					<div class="dlab-border-left"></div>
					<div class="dlab-border-right"></div>
					<div class="dlab-media">
						<a href="javascript:;">
							<img alt="" src="assets/images/our-team/pic4.jpg">
						</a>
					</div>
					<div class="dlab-info">
						<h4 class="dlab-title"><a href="javascript:void(0);">Konne Backfield</a></h4>
						<span class="dlab-position">Manager</span>
						<ul class="dlab-social-icon">
							<li><a class="site-button circle-sm white fa fa-facebook" href="javascript:void(0);"></a></li>
							<li><a class="site-button circle-sm white fa fa-twitter" href="javascript:void(0);"></a></li>
							<li><a class="site-button circle-sm white fa fa-linkedin" href="javascript:void(0);"></a></li>
							<li><a class="site-button circle-sm white fa fa-pinterest" href="javascript:void(0);"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
