<div class="section-full text-white counter-staus-box bg-black" id="stats">
	<div class="row spno">
		<div class="col-lg-3 col-md-6 col-sm-12 col-12 wow fadeInLeft d-flex align-items-center" style="background-image:url(assets/images/about/steel/num_background.webp)" data-wow-duration="2s" data-wow-delay="0.2s">
			<div class="section-head text-white m-b0 p-a30">
				<h2 class="title">We're Thriving And Building Better Products</h2>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-4 col-6 wow fadeInUp bg-primary d-flex align-items-center" data-wow-duration="2s" data-wow-delay="0.2s">
			<div class="icon-bx-wraper center counter-style-5">
				<div class="icon-xl m-b20">
					<span class="icon-cell"><i class="las la-users"></i></span>
				</div>
				<div class="icon-content">
					<div class="dlab-separator bg-white"></div>
					<h2 class="dlab-tilte counter">14</h2>
					<p>Employees</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-4 col-6 wow fadeInUp bg-secondry d-flex align-items-center" data-wow-duration="2s" data-wow-delay="0.4s">
			<div class="icon-bx-wraper center counter-style-5">
				<div class="icon-xl m-b20">
					<span class="icon-cell"><i class="las la-building"></i></span>
				</div>
				<div class="icon-content">
					<div class="dlab-separator bg-primary"></div>
					<h2 class="dlab-tilte counter">17</h2>
					<p>Clients</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-4 col-12 wow fadeInUp bg-primary d-flex align-items-center" data-wow-duration="2s" data-wow-delay="0.6s">
			<div class="icon-bx-wraper center counter-style-5">
				<div class="icon-xl m-b20">
					<span class="icon-cell"><i class="las la-cloud-download-alt"></i></span>
				</div>
				<div class="icon-content">
					<div class="dlab-separator bg-white"></div>
					<h2 class="dlab-tilte counter">2</h2>
					<p>Data Centers</p>
				</div>
			</div>
		</div>
	</div>
</div>