<div class="section-full content-inner bg-white" id="services" style="background-image: url(assets/images/pattern/pt13.png);">
	<div class="container">
		<div class="section-head text-center">
			<h5 class="title-small">OUR SERVICE</h5>
			<div class="dlab-separator-outer">
				<div class="dlab-separator bg-primary style-skew"></div>
			</div>
			<h2 class="title">Quality With Dedication</h2>
		</div>
		<div class="row">
			<div *ngFor = "let item of serviceList" class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
				<div class="dlab-box service-box-3">
					<div class="dlab-media radius-sm dlab-img-overlay1 zoom dlab-img-effect"> 
						<a href="javascript:void(0);"><img src="assets/images/our-work/steelplant/{{item.image}}" alt=""></a> 
					</div>
					<div class="dlab-info">
						<div class="icon-bx-sm bg-white">
							<span class="icon-cell"><img src="assets/images/icon/steel/{{item.icon}}" alt=""/></span>
						</div>
						<h4 class="title"><a href="javascript:void(0);">{{item.title}}</a></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-full bg-gray p-tb15" style="background-image:url(assets/images/pattern/pt7.png);">
	<div class="container-fluid">
		<div class="row sp15">
			<div class="col-lg-3 col-md-6 col-sm-12 m-b15">
				<div class="dlab-box steel-bx">
					<div class="dlab-media dlab-img-effect zoom">
						<img src="assets/images/our-work/steelplant/pic3.jpg" alt="">
						<div class="dlab-info-has no-hover">
							<h4 class="title"><a href="#">Metal Sheet Cutting</a></h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 m-b15">
				<div class="dlab-box steel-bx">
					<div class="dlab-media dlab-img-effect zoom">
						<img src="assets/images/our-work/steelplant/pic4.jpg" alt="">
						<div class="dlab-info-has no-hover">
							<h4 class="title"><a href="#">Structural Steel</a></h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 m-b15">
				<div class="dlab-box steel-bx">
					<div class="dlab-media dlab-img-effect zoom">
						<img src="assets/images/our-work/steelplant/pic12.jpg" alt="">
						<div class="dlab-info-has no-hover">
							<h4 class="title"><a href="#">Pipe & Pipeline</a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row sp15">
			<div class="col-lg-3 col-md-4 col-sm-12 m-b15">
				<div class="dlab-box steel-bx">
					<div class="dlab-media dlab-img-effect zoom">
						<img src="assets/images/our-work/steelplant/pic1.jpg" alt="">
						<div class="dlab-info-has no-hover">
							<h4 class="title"><a href="#">Flanging & Advanced</a></h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-12 m-b15">
				<div class="dlab-box steel-bx">
					<div class="dlab-media dlab-img-effect zoom">
						<img src="assets/images/our-work/steelplant/pic11.jpg" alt="">
						<div class="dlab-info-has no-hover">
							<h4 class="title"><a href="#">Structural Fabrication</a></h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12 m-b15">
				<div class="dlab-box steel-bx">
					<div class="dlab-media dlab-img-effect zoom">
						<img src="assets/images/our-work/steelplant/pic5.jpg" alt="">
						<div class="dlab-info-has no-hover">
							<h4 class="title"><a href="#">Metal Sheet Cutting</a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
