<!-- Footer -->
<footer class="site-footer">
	<div class="footer-top"  style="background-image:url(assets/images/pattern/pt15.png);">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-6 col-5 col-sm-6 footer-col-4 col-12">
					<div class="widget widget_about border-0">
						<div class="footer-title">
							<h5 class="title text-white">{{about_title}}</h5>
							<div class="dlab-separator-outer">
								<div class="dlab-separator bg-primary style-skew"></div>
							</div>
						</div>
						<p class="mm-t5">{{about_desc}}</p>
						<ul class="contact-info-bx">
							<li *ngFor="let item of contactList">
								<i [ngClass]="item.icon"></i>{{item.address}}
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 footer-col-4 col-12">
					<div class="widget">
						<div class="footer-title">
							<h5 class="title text-white">{{schedule_title}}</h5>
							<div class="dlab-separator-outer">
								<div class="dlab-separator bg-primary style-skew"></div>
							</div>
						</div>
						<ul class="thsn-timelist-list mm-t5">
							<li><span class="thsn-timelist-li-title">Monday – Friday</span><span class="thsn-timelist-li-value">08:30 – 17:30</span></li>
							<li><span class="thsn-timelist-li-title">Weekend</span><span class="thsn-timelist-li-value">Closed</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer bottom part -->
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2022 Corise Technology</span> </div>
				<div class="col-md-6 col-sm-6 text-right "> 
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer END-->
